* {
  color: whitesmoke;
  text-decoration: none;
}

body {
    background-color: #171c28;
    font-family: Montserrat, "Montserrat", sans-serif;
    height: 100vh;
}

.header {
  margin: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 100%;
}

.header ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.header ul li {
  margin: 20px;
}

.header h3 {
    margin-left: 10px;
}

.hero {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  margin-left: 80px;
  margin-bottom: 50px;
  font-size: 60px;
}

.hero h1 {
    margin-bottom: 20px;
}

.hero p {
  font-size: 20px;
}

.hero button {
  display: block;
  background-color: blueviolet;
  padding: 30px;
  border-radius: 10px;
  width: 8em;
  padding: 0.5em;
  font-weight: 600;
  font-size: 20px;
}

.skills {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin-right: 80px;
  margin-bottom: 50px;
}

.skills h2 {
  font-size: 60px;
}

.skills ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.skills p {
  font-size: 20px;
}

.fa-brands {
  margin-top: 5px;
  margin-right: 25px;
  margin-bottom: 10px;
}

.projects {
  display: flex;
  margin-left: 80px;
  margin-bottom: 40px;
}

.projects h2 {
    font-size: 60px;
}

.flex-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-left: 50px;
  min-width: 75% ;
}

.flex-item {
    background-image: url('./images/placeholder.png');
    background-position: center;
    background-size: cover;
    min-width: 40%;
    min-height: 200px;
    margin: 4%;
}

#big-item {
    background-image: url('./images/600x600.png');
    min-width: 90%;
    height: 450px;
    margin: 4%;
}
.contact-me {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  margin-left: 80px;
}

.contact-me h2 {
  font-size: 60px;
}

.contact-me ul {
  display: flex;
  flex-direction: column;
  list-style: none;
  margin: 0;
  padding: 0;
  text-decoration: none;
}

.contact-me ul li {
  margin: 10px;
}

#phone-number {
  display: block;
}
/*#github img{
    width: 10;
    height: 10;
} */

.footer {
  display: flex;
  justify-content: center;
}

.footer h5 {
  font-size: 25px;
}
